CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# built binary
cc

# KDevelop
*.kdev4
.kdev4/
build/

# Dolphin
.directory
